
@use '../../base' as *;
@use '../../helpers' as *;


.wrap {
    width: 100%;
    &.base_layout {
        height: calc(var(--vh, 1vh) * 100);
        display: grid;
        grid-template-columns: 235px auto (230px - 55px) 55px;
        grid-template-rows: 58px auto;

        header {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            background-color: #fff;
        }
        aside {
            &.leftSNB {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                background-color: #fff;
            }
            &.rightSNB {
                grid-column: 3 / 5;
                grid-row: 1 / 3;
                background-color: cadetblue;
                
            }
        }
        main {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
            border-radius: 30px 30px 0 0;
            background: beige;
            overflow: auto;            
        }
    }

}