
@use '../../helpers' as *;

.wrap {
    main {
        display: grid;
        grid-template-columns: repeat(4, minmax(1fr, 365px));
        grid-template-rows: repeat(3, minmax(1fr, 250px));
        .box {
            
        }
    }
}