
@use '../../helpers' as *;

.wrap {
    .box {
        background: salmon;
        &:nth-child(1) {
            background: red;
        }
        @include mx-laptop {
            font-family: $notosansKR;
            font-size: 20px;
        }
    }
}